.revifoup-tab-nav {
  display: flex;
  margin: 0;
}

.revifoup-tab-nav li {
  padding: 8px 16px;
  background: #fff;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  cursor: pointer;
}

.revifoup-tab-nav li.active {
  background: #2271b1;
  color: #fff;
}